@import "tailwindcss";
@import "prismjs/themes/prism.css";

html {
  margin: 0;
  background: #f8f8ff;
}

body {
  margin: 0;
  background: #f8f8ff;
  color: #000;
  font-size: 16px;
  font-family: "IBM Plex Sans JP", "Noto Sans JP", sans-serif;
  word-break: normal;
  overflow-wrap: break-word;
}

.markdown-body {
  position: relative;
  line-height: 1.6;
  word-break: normal;
  overflow-wrap: break-word;
  overflow-x: hidden;
}
.markdown-body::after {
  content: "";
  display: table;
  clear: both;
}

.markdown-body h1 {
  margin: 0.5em 0 0.46em 0;
  font-size: 130%;
  font-weight: bold;
  color: #025;
  border-bottom: 1px solid #abc;
}
.markdown-body.user-introduction h1 {
  font-size: 120%;
}
.markdown-body h2 {
  margin: 0.525em 0 0.475em 0;
  font-size: 115%;
  font-weight: bold;
}
.markdown-body.user-introduction h2 {
  font-size: 110%;
}
.markdown-body h3 {
  margin: 0.55em 0;
  font-size: 105%;
  font-weight: bold;
}
.markdown-body h4 {
  margin: 0.55em 0;
  font-size: 100%;
  font-weight: bold;
  opacity: 0.9;
}
.markdown-body h5 {
  margin: 0.55em 0;
  font-size: 90%;
  font-weight: bold;
  opacity: 0.8;
}
.markdown-body h6 {
  margin: 0.55em 0;
  font-size: 85%;
  font-weight: bold;
  opacity: 0.7;
}

.markdown-body p {
  margin: 0.55em 0;
}

.markdown-body blockquote {
  margin: 0.55em 0 0.5em 0.4em;
  padding-left: 0.4em;
  line-height: 1.5;
  font-size: 95%;
  border-left: 3px solid #ddd;
}

.markdown-body ul {
  margin: 0.55em 0;
  line-height: 1.4;
  list-style-type: disc;
  padding-left: 1.4em;
}
.markdown-body ul[data-bullet="number"] {
  list-style-type: decimal;
}
.markdown-body ul[data-bullet="none"] {
  line-height: inherit;
  list-style: none;
}
.markdown-body ul:has(li[data-meta]) {
  text-align: right;
  margin-right: 0.5em;
  list-style: none;
  opacity: 0.9;
}
.markdown-body li[data-meta]::before {
  content: attr(data-meta) ": ";
  font-size: 80%;
  opacity: 0.5;
}
.markdown-body ul ul {
  margin: 0;
}
.markdown-body li {
  margin: 0;
  padding: 0;
}

.markdown-body pre {
  position: relative;
  margin: 0.55em 0.25em;
  padding: 0.1em 0.25em;
  line-height: 1.4;
  background: #f7f7fa;
  white-space: pre-wrap;
  word-break: break-all;
  border-radius: 0.25em;
  font-family: "Inconsolata", "Source Code Pro", monospace;
  font-size: 95%;
  border: 1px solid #eee;
}
.markdown-body pre[data-pre-mode]::before {
  position: absolute;
  content: attr(data-pre-mode);
  top: 0.35em;
  right: 0.4em;
  font-size: 80%;
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}
.markdown-body pre[data-pre-style="xsmall"],
.markdown-body pre[data-pre-style^="xsmall:"],
.markdown-body pre[data-pre-style$=":xsmall"],
.markdown-body pre[data-pre-style*=":xsmall:"] {
  font-size: 75%;
}
.markdown-body pre[data-pre-style="small"],
.markdown-body pre[data-pre-style^="small:"],
.markdown-body pre[data-pre-style$=":small"],
.markdown-body pre[data-pre-style*=":small:"] {
  font-size: 85%;
}
.markdown-body pre[data-pre-style="large"],
.markdown-body pre[data-pre-style^="large:"],
.markdown-body pre[data-pre-style$=":large"],
.markdown-body pre[data-pre-style*=":large:"] {
  font-size: 105%;
}
.markdown-body pre[data-pre-style="xlarge"],
.markdown-body pre[data-pre-style^="xlarge:"],
.markdown-body pre[data-pre-style$=":xlarge"],
.markdown-body pre[data-pre-style*=":xlarge:"] {
  font-size: 115%;
}
.markdown-body pre[data-pre-style="bold"],
.markdown-body pre[data-pre-style^="bold:"],
.markdown-body pre[data-pre-style$=":bold"],
.markdown-body pre[data-pre-style*=":bold:"] {
  font-weight: bold;
}
.markdown-body pre[data-pre-style="italic"],
.markdown-body pre[data-pre-style^="italic:"],
.markdown-body pre[data-pre-style$=":italic"],
.markdown-body pre[data-pre-style*=":italic:"] {
  font-style: italic;
}
.markdown-body pre[data-pre-mode="natural"] {
  line-height: 1.5;
  background: none;
  font-family: "IBM Plex Sans JP", "Noto Sans JP", sans-serif;
  font-size: 100%;
  border: none;
  border-left: 3px solid #eee;
  border-radius: 0;
}
.markdown-body pre[data-pre-mode="natural"]::before {
  display: none;
  content: "";
}

.markdown-body table {
  margin: 0.55em 0.25em;
  border-collapse: collapse;
}
.markdown-body th,
.markdown-body td {
  padding: 0.1em 0.25em;
  line-height: 1.2;
  font-size: 95%;
  font-weight: normal;
  border: solid 1px #888;
  text-align: left;
  vertical-align: top;
  word-break: break-all;
}
.markdown-body th {
  font-size: 95%;
  background: #eee;
}
.markdown-body table .align-center {
  text-align: center;
}
.markdown-body table .align-right {
  text-align: right;
}

.markdown-body .image-block {
  position: relative;
  margin: 0.55em 0.25em;
  width: 20em;
  max-height: 20em;
  cursor: zoom-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.markdown-body .image-block.expanded {
  width: 98%;
  max-height: 40em;
  clear: both;
  cursor: zoom-out;
  display: block;
}
.markdown-body .featured-block {
  float: right;
  width: min(11em, 40%);
  max-height: 12em;
  margin: 0.25em 0 0.25em 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.markdown-body .image-block figcaption {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  padding: 0.05em 0.25em;
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  opacity: 0.7;
  font-size: 65%;
}
.markdown-body .image-block:hover figcaption {
  opacity: 0.1;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-float="left"] {
  float: left;
  margin: 0.15em 0.6em 0.15em 0;
  width: min(17.5em, 50%);
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-float="right"] {
  float: right;
  margin: 0.15em 0 0.15em 0.6em;
  width: min(17.5em, 50%);
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="xsmall"] {
  width: min(13em, 32%);
  max-height: 13em;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="small"] {
  width: min(16em, 40%);
  max-height: 16em;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="medium"] {
  width: min(20em, 50%);
  max-height: 20em;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="large"] {
  width: min(27.5em, 60%);
  max-height: 27.5em;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="xlarge"] {
  width: min(35em, 70%);
  max-height: 35em;
}

.markdown-body:not(.excerpt) .image-grid {
  display: grid;
  gap: 0.5em;
  margin: 0.5em 0 1em;
  clear: both;
}
.markdown-body:not(.excerpt) .image-grid figure.image-block {
  width: 100%;
  max-width: 100%;
  max-height: none;
}
.markdown-body:not(.excerpt) .image-grid figure.image-block[data-size] {
  width: unset;
  max-height: unset;
}
.markdown-body:not(.excerpt) .image-grid[data-cols="1"] {
  grid-template-columns: minmax(0, 1fr);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.markdown-body:not(.excerpt)
  .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="xsmall"]) {
  width: 35%;
}
.markdown-body:not(.excerpt)
  .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="small"]) {
  width: 46%;
}
.markdown-body:not(.excerpt)
  .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="large"]) {
  width: 73%;
}
.markdown-body:not(.excerpt)
  .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="xlarge"]) {
  width: 95%;
}
@media (max-width: 640px) {
  .markdown-body:not(.excerpt)
    .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="xsmall"]) {
    width: 46%;
  }
  .markdown-body:not(.excerpt)
    .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="small"]) {
    width: 60%;
  }
  .markdown-body:not(.excerpt) .image-grid[data-cols="1"] {
    width: 80%;
  }
  .markdown-body:not(.excerpt)
    .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="large"]) {
    width: 90%;
  }
}
.markdown-body:not(.excerpt) .image-grid[data-cols="2"] {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.markdown-body:not(.excerpt) .image-grid[data-cols="3"] {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.markdown-body:not(.excerpt) .image-grid[data-cols="4"] {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.markdown-body:not(.excerpt) .image-grid[data-cols="5"] {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.markdown-body:not(.excerpt) .image-grid figure.image-block {
  float: none;
  margin: 0;
}
.markdown-body:not(.excerpt) .image-grid figure.image-block.expanded {
  grid-column: 1 / -1;
}
.markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block.expanded) {
  width: 100%;
}

.markdown-body .image-block img,
.markdown-body .image-block video {
  display: block;
  max-width: 100%;
  max-height: inherit;
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 0.35em;
}
.markdown-body .featured-block img,
.markdown-body .featured-block video {
  display: block;
  max-width: 100%;
  max-height: inherit;
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}
.markdown-body .featured-block figcaption {
  display: none;
}

.markdown-body a {
  color: #03c;
  text-decoration: none;
}
.markdown-body a:hover {
  text-decoration: underline;
}
.markdown-body code {
  padding: 0 0.1em;
  word-break: break-all;
  font-family: "Inconsolata", "Source Code Pro", monospace;
  background: #eee;
}
.markdown-body pre code {
  padding: unset;
  font-size: unset;
  background: unset;
  line-height: 1.3;
  white-space: inherit;
  word-break: inherit;
  overflow-wrap: inherit;
}
.markdown-body mark {
  background: #fde;
}
.markdown-body small {
  font-size: 70%;
  opacity: 0.9;
}
.markdown-body rt {
  margin-top: -0.8em;
  margin-bottom: -0.8em;
  opacity: 0.9;
}
.markdown-body .math-inline svg {
  display: inline-block;
}
.markdown-body hr {
  clear: both;
  border: 0;
  margin: 0 2.5em;
}
.markdown-body hr[data-hr-level="2"] {
  border-top: 1px solid #aaa;
  margin: 0.75em 2.5em;
}
.markdown-body hr[data-hr-level="3"] {
  border-top: 1px solid #666;
  margin: 1em 0.5em;
}

.markdown-body .omitted {
  margin: 0 0.1em;
}

.markdown-body .toc {
  position: relative;
  margin: 0.55em 0.2em 0.55em 0.2em;
  padding-left: 0.4em;
  line-height: 1.5;
  font-size: 95%;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}
.markdown-body .toc::before {
  position: absolute;
  top: 0.1em;
  right: 0.4em;
  font-size: 85%;
  color: #012;
  content: "table of contents";
  opacity: 0.3;
}
.markdown-body .toc a {
  color: #026;
}
.markdown-body .toc a:hover {
  color: #03c;
}

.markdown-body code[class*="language-"] *,
.markdown-body pre[class*="language-"] * {
  background: none;
}
.markdown-body code[class*="language-"],
.markdown-body pre[class*="language-"] {
  text-shadow: none !important;
}

span[aria-label="Identicon"] > svg {
  transform: translate(-0.5px, -0.5px);
}
