@import "tailwindcss";
@import "prismjs/themes/prism.css";

html {
  margin: 0;
  background: #f8f8ff;
}

body {
  margin: 0;
  background: #f8f8ff;
  color: #000;
  font-size: 16px;
  font-family: "IBM Plex Sans JP", "Noto Sans JP", Arial, Helvetica, sans-serif;
  word-break: break-all;
}

.markdown-body {
  position: relative;
  line-height: 1.6;
  word-break: break-all;
}
.markdown-body::after {
  content: "";
  display: table;
  clear: both;
}

.markdown-body h1 {
  margin: 1ex 0 0.92ex 0;
  font-size: 130%;
  font-weight: bold;
  color: #025;
  border-bottom: 1px solid #abc;
}
.markdown-body.user-introduction h1 {
  font-size: 120%;
}
.markdown-body h2 {
  margin: 1.05ex 0 0.95ex 0;
  font-size: 115%;
  font-weight: bold;
}
.markdown-body.user-introduction h2 {
  font-size: 110%;
}
.markdown-body h3 {
  margin: 1.1ex 0;
  font-size: 105%;
  font-weight: bold;
}
.markdown-body h4 {
  margin: 1.1ex 0;
  font-size: 100%;
  font-weight: bold;
  opacity: 0.9;
}
.markdown-body h5 {
  margin: 1.1ex 0;
  font-size: 90%;
  font-weight: bold;
  opacity: 0.8;
}
.markdown-body h6 {
  margin: 1.1ex 0;
  font-size: 85%;
  font-weight: bold;
  opacity: 0.7;
}

.markdown-body p {
  margin: 1.1ex 0;
}

.markdown-body blockquote {
  margin: 1.1ex 0 1ex 0.8ex;
  padding-left: 0.8ex;
  line-height: 1.5;
  font-size: 95%;
  border-left: 3px solid #ddd;
}

.markdown-body ul {
  margin: 1.1ex 0;
  line-height: 1.4;
  list-style-type: disc;
  padding-left: 1.4em;
}
.markdown-body ul[data-bullet="number"] {
  list-style-type: decimal;
}
.markdown-body ul[data-bullet="none"] {
  line-height: inherit;
  list-style: none;
}
.markdown-body ul ul {
  margin: 0;
}
.markdown-body li {
  margin: 0;
  padding: 0;
}

.markdown-body pre {
  position: relative;
  margin: 1.1ex 0.5ex;
  padding: 0.2ex 0.5ex;
  line-height: 1.4;
  background: #f7f7fa;
  white-space: pre-wrap;
  border-radius: 0.5ex;
  font-family: "Inconsolata", "Source Code Pro", monospace;
  font-size: 95%;
  border: 1px solid #eee;
}
.markdown-body pre[data-pre-mode]::before {
  position: absolute;
  content: attr(data-pre-mode);
  top: 0.7ex;
  right: 0.8ex;
  font-size: 80%;
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}
.markdown-body pre[data-pre-style="xsmall"],
.markdown-body pre[data-pre-style^="xsmall:"],
.markdown-body pre[data-pre-style$=":xsmall"],
.markdown-body pre[data-pre-style*=":xsmall:"] {
  font-size: 75%;
}
.markdown-body pre[data-pre-style="small"],
.markdown-body pre[data-pre-style^="small:"],
.markdown-body pre[data-pre-style$=":small"],
.markdown-body pre[data-pre-style*=":small:"] {
  font-size: 85%;
}
.markdown-body pre[data-pre-style="large"],
.markdown-body pre[data-pre-style^="large:"],
.markdown-body pre[data-pre-style$=":large"],
.markdown-body pre[data-pre-style*=":large:"] {
  font-size: 105%;
}
.markdown-body pre[data-pre-style="xlarge"],
.markdown-body pre[data-pre-style^="xlarge:"],
.markdown-body pre[data-pre-style$=":xlarge"],
.markdown-body pre[data-pre-style*=":xlarge:"] {
  font-size: 115%;
}
.markdown-body pre[data-pre-style="bold"],
.markdown-body pre[data-pre-style^="bold:"],
.markdown-body pre[data-pre-style$=":bold"],
.markdown-body pre[data-pre-style*=":bold:"] {
  font-weight: bold;
}
.markdown-body pre[data-pre-style="italic"],
.markdown-body pre[data-pre-style^="italic:"],
.markdown-body pre[data-pre-style$=":italic"],
.markdown-body pre[data-pre-style*=":italic:"] {
  font-style: italic;
}
.markdown-body pre[data-pre-mode="natural"] {
  line-height: 1.5;
  background: none;
  font-family: "IBM Plex Sans JP", "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-size: 100%;
  border: none;
  border-left: 3px solid #eee;
  border-radius: 0;
}
.markdown-body pre[data-pre-mode="natural"]::before {
  display: none;
  content: "";
}

.markdown-body table {
  margin: 1.1ex 0.5ex;
  border-collapse: collapse;
}
.markdown-body th,
.markdown-body td {
  padding: 0.2ex 0.5ex;
  line-height: 1.2;
  font-size: 95%;
  font-weight: normal;
  border: solid 1px #888;
  text-align: left;
  vertical-align: top;
}
.markdown-body th {
  font-size: 95%;
  background: #eee;
}
.markdown-body table .align-center {
  text-align: center;
}
.markdown-body table .align-right {
  text-align: right;
}

.markdown-body .image-block {
  position: relative;
  margin: 1.1ex 0.5ex;
  width: 40ex;
  max-height: 40ex;
  cursor: zoom-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.markdown-body .image-block.expanded {
  width: 98%;
  max-height: 80ex;
  clear: both;
  cursor: zoom-out;
  display: block;
}
.markdown-body .featured-block {
  float: right;
  width: min(22ex, 40%);
  max-height: 24ex;
  margin: 0.5ex 0 0.5ex 0.5ex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.markdown-body .image-block figcaption {
  position: absolute;
  bottom: 0.5ex;
  right: 0.5ex;
  padding: 0.1ex 0.5ex;
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 0.5ex;
  opacity: 0.7;
  font-size: 65%;
}
.markdown-body .image-block:hover figcaption {
  opacity: 0.1;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-float="left"] {
  float: left;
  margin: 0.3ex 1.2ex 0.3ex 0;
  width: min(35ex, 50%);
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-float="right"] {
  float: right;
  margin: 0.3ex 0 0.3ex 1.2ex;
  width: min(35ex, 50%);
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="xsmall"] {
  width: min(26ex, 32%);
  max-height: 26ex;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="small"] {
  width: min(32ex, 40%);
  max-height: 32ex;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="medium"] {
  width: min(40ex, 50%);
  max-height: 40ex;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="large"] {
  width: min(55ex, 60%);
  max-height: 55ex;
}
.markdown-body:not(.excerpt) figure.image-block:not(.expanded)[data-size="xlarge"] {
  width: min(70ex, 70%);
  max-height: 70ex;
}

.markdown-body:not(.excerpt) .image-grid {
  display: grid;
  gap: 0.5em;
  margin: 0.5em 0 1em;
  clear: both;
}
.markdown-body:not(.excerpt) .image-grid figure.image-block {
  width: 100%;
  max-width: 100%;
  max-height: none;
}
.markdown-body:not(.excerpt) .image-grid figure.image-block[data-size] {
  width: unset;
  max-height: unset;
}
.markdown-body:not(.excerpt) .image-grid[data-cols="1"] {
  grid-template-columns: minmax(0, 1fr);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="xsmall"]) {
  width: 35%;
}
.markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="small"]) {
  width: 46%;
}
.markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="large"]) {
  width: 73%;
}
.markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="xlarge"]) {
  width: 95%;
}
@media (max-width: 640px) {
  .markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="xsmall"]) {
    width: 46%;
}
  .markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="small"]) {
    width: 60%;
  }
  .markdown-body:not(.excerpt) .image-grid[data-cols="1"] {
    width: 80%;
  }
  .markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block:not(.expanded)[data-size="large"]) {
    width: 90%;
  }
}
.markdown-body:not(.excerpt) .image-grid[data-cols="2"] {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.markdown-body:not(.excerpt) .image-grid[data-cols="3"] {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.markdown-body:not(.excerpt) .image-grid[data-cols="4"] {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.markdown-body:not(.excerpt) .image-grid[data-cols="5"] {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.markdown-body:not(.excerpt) .image-grid figure.image-block {
  float: none;
  margin: 0;
}
.markdown-body:not(.excerpt) .image-grid figure.image-block.expanded {
  grid-column: 1 / -1;
}
.markdown-body:not(.excerpt) .image-grid[data-cols="1"]:has(figure.image-block.expanded) {
  width: 100%;
}

.markdown-body .image-block img,
.markdown-body .image-block video {
  display: block;
  max-width: 100%;
  max-height: inherit;
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 0.7ex;
}
.markdown-body .featured-block img,
.markdown-body .featured-block video {
  display: block;
  max-width: 100%;
  max-height: inherit;
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 0.5ex;
}
.markdown-body .featured-block figcaption {
  display: none;
}

.markdown-body a {
  color: #03c;
  text-decoration: none;
}
.markdown-body a:hover {
  text-decoration: underline;
}
.markdown-body code {
  padding: 0 0.3ex;
  font-family: "Inconsolata", "Source Code Pro", monospace;
  background: #eee;
}
.markdown-body pre code {
  padding: unset;
  font-size: unset;
  background: unset;
  line-height: 1.3;
}
.markdown-body mark {
  background: #fde;
}
.markdown-body small {
  font-size: 70%;
  opacity: 0.9;
}
.markdown-body rt {
  margin-top: -0.8em;
  margin-bottom: -0.8em;
  opacity: 0.9;
}
.markdown-body .math-inline svg {
  display: inline-block;
}
.markdown-body hr {
  clear: both;
  border: 0;
  margin: 0 5ex;
}
.markdown-body hr[data-hr-level="2"] {
  border-top: 1px solid #aaa;
  margin: 1.5ex 5ex;
}
.markdown-body hr[data-hr-level="3"] {
  border-top: 1px solid #666;
  margin: 2ex 1ex;
}

.markdown-body .omitted {
  margin: 0 0.2ex;
}

.markdown-body .toc {
  position: relative;
  margin: 1.1ex 0.4ex 1.1ex 0.4ex;
  padding-left: 0.8ex;
  line-height: 1.5;
  font-size: 95%;
  border: 1px solid #ddd;
  border-radius: 0.5ex;
}
.markdown-body .toc::before {
  position: absolute;
  top: 0.2ex;
  right: 0.8ex;
  font-size: 85%;
  color: #012;
  content: "table of contents";
  opacity: 0.3;
}
.markdown-body .toc a {
  color: #026;
}
.markdown-body .toc a:hover {
  color: #03c;
}

.markdown-body code[class*="language-"] *,
.markdown-body pre[class*="language-"] * {
  background: none;
}
.markdown-body code[class*="language-"],
.markdown-body pre[class*="language-"] {
  text-shadow: none !important;
}

span[aria-label="Identicon"] > svg {
  transform: translate(-0.5px, -0.5px);
}
