http://:8080 {
  encode zstd gzip

  redir /backend /backend/
  handle_path /backend/* {
    reverse_proxy http://backend:3001 http://host.docker.internal:3001 http://host.lima.internal:3001 {
      lb_policy first
      health_uri /health
      header_up Host {http.request.host}
    }
  }

  handle {
    reverse_proxy http://frontend:3000 http://host.docker.internal:3000 http://host.lima.internal:3000 {
      lb_policy first
      health_uri /
      header_up Host {http.request.host}
    }
  }
}

http://s3.localhost:8080 {
  encode zstd gzip

  reverse_proxy http://minio:9000 {
    flush_interval -1
  }
}

http://s3-console.localhost:8080 {
  encode zstd gzip

  reverse_proxy http://minio:9001
}

http://mail.localhost:8080 {
  encode zstd gzip

  reverse_proxy http://smtp:8025
}
