http://:8080 {
  encode zstd gzip

  redir /backend /backend/
  handle_path /backend/* {
    reverse_proxy http://backend:3100 http://host.docker.internal:3100 {
      lb_policy first
      health_uri /health
      header_up Host {http.request.host}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
    }
  }

  handle {
    reverse_proxy http://frontend:3000 http://host.docker.internal:3000 {
      lb_policy first
      health_uri /
      header_up Host {http.request.host}
      header_up X-Forwarded-For {remote}
      header_up X-Forwarded-Proto {scheme}
    }
  }
}

http://s3.localhost:8080 {
  encode zstd gzip

  reverse_proxy http://minio:9000 {
    flush_interval -1
  }
}

http://s3-console.localhost:8080 {
  encode zstd gzip

  reverse_proxy http://minio:9001
}

http://mail.localhost:8080 {
  encode zstd gzip

  reverse_proxy http://mailpit:8025
}
