:8080 {
  encode zstd gzip

  handle_path /backend* {
    reverse_proxy backend:3001
  }
  handle {
    reverse_proxy frontend:3000
  }
}

http://s3.localhost:8080 {
  encode zstd gzip
  reverse_proxy http://minio:9000 {
    header_up Host {http.request.host}
    flush_interval -1
  }
}
